.header {
    grid-column: full-start / full-end;

    background-image: linear-gradient(to right,rgba(0,0,0, .8), rgba(0,0,0, .8)), url(../images/background-img.jpg);
    background-size: cover;
}

.nav {
    font-size: 1.6rem;
    background-color: #F1A11B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    padding: 0 5rem;
    
    &__items {
        width: 45rem;
        display: flex;
        justify-content: space-between;
        list-style: none;
    }

    &__links {
        color: #333;
        text-decoration: none;
        text-transform: capitalize;
    }
}

.form {
    width: 60rem;
    height: 50rem;
    background-color: #fff;
    position: absolute;
    top: 55%;
    left: 70%;
    transform: translate(-50%, -50%);
}